.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
     background-color: rgb(0, 8, 34);
}

.img{
    height:auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s1{
    height:auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.s2{
    height:auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 21px;

}


.nomeMusica{
    width: 90%;
    text-align: center;
}

.nomeCompositor{
    width: 90%;
    text-align: center;
}

.p1{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p1::selection{
    color: black;
    background-color:yellow ;

}

.p2{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p2::selection{
    color: black;
    background-color:yellow ;

}

.p3{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p3::selection{
    color: black;
    background-color:yellow ;

}

.p4{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p4::selection{
    color: black;
    background-color:yellow ;

}

.p5{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
}

.p5::selection{
    color: black;
    background-color:yellow ;

}

.p6{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p6::selection{
    color: black;
    background-color:yellow ;

}

.p7{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p7::selection{
    color: black;
    background-color:yellow ;

}

.p8{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p8::selection{
    color: black;
    background-color:yellow ;

}

.p9{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p9::selection{
    color: black;
    background-color:yellow ;

}

.p10{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;

}

.p10::selection{
    color: black;
    background-color:yellow ;

}

.p11{
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-bottom: 20px;
    width: 90%;

}

.p11::selection{
    color: black;
    background-color:yellow ;

}

.p12{
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-bottom: 20px;
    width: 90%;

}

.p12::selection{
    color: black;
    background-color:yellow ;

}

@media (width >= 768px){

    
    .s2{
    height:auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    }

    .s2 p{
        width: 40%;
   

    }

  

}